<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
</head>

    <h1>Hola desde Estructuras</h1>
    <h3>
        {{with $valor :="Mi valor con nandu"}}
            <p>{{$valor}}</p>
        {{end}}
    </h3>
<hr />
    <h3>
        <ul>
          <li>{{.Nombre}}</li>  
        </ul>
    </h3>
<hr />
    <h3>Condicionales</h3>
    {{if ge .Edad 18}}
    <p>Eres mayor de edad</p>
    {{else}}
    <p>Eres menor de edad</p>
    {{end}}
    {{if eq .Perfil 1}}
    <p>eres administrador</p>
    {{else}}
    <p>Tienes otro perfil</p>
    {{end}}
    <hr />
    <h3>Iteraciones</h3>
    {{.Habilidades}}
    <ul>
        {{range .Habilidades}}
            <li>{{.Nombre}}</li>
        {{end}}
    </ul>  
</body>
</html>